body {
    /* height: 2600px; */
    background-color: #f8f9fa;
}
section, .section {
    height: 100vh;
}

#welcome-button {
    color: #4285f4;
    border-color: #4285f4;
    border-width: 1.5px;
}
#welcome-button:hover {
    color: #fff;
    background-color: #4285f4;
    border-color: #4285f4;
}

#slogan {
    font-size: 3.5em;
    /* background-color: #f8f9fa; */
}

.fs-x14 {
    font-size: 1.4em;
}
.fs-x13 {
    font-size: 1.3em;
}

.h-55 {
    height: 55%;
}

.transparent{
    background:rgba(255,255,255,0.5);
}


